# .dockerignore

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.git/
.idea/
.run/
static/favicon.png
vendors/*.csproj
vendors/**/*.csproj
.dockerignore
.gitignore
*.sln.*
*.sh
**/*.sh
*.key
**/*.key
*.crt
**/*.crt