# .dockerignore

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.git/
.idea/
.run/
static/favicon.png
helper/*.csproj
helper/**/*.csproj
helper/schemas
.dockerignore
.gitignore
*.sln.*
*.sh
**/*.sh
*.key
**/*.key
*.crt
**/*.crt
*.log
**/*.log
pocker-backend-client/*