<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="webRoot" value="static" />
        <add key="allowedExtList" value="static-allowed-ext" />
        <add key="sslCertFile" value="helper/cryptography/ssl.pfx" />
        <add key="schemasDir" value="helper/schemas" />
    </appSettings>
</configuration>